<div style="text-align:center;">
  <a href="https://twitter.com/JoinKleroteria?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @JoinKleroteria</a>
  <a href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="What would you write to ten thousand people? Join me on Kleroteria for your chance!" data-url="https://www.kleroteria.org/" data-related="JoinKleroteria" data-show-count="false">Tweet about Kleroteria</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
